<div>
  <h2>Lista de Usuarios</h2>
  <!-- Campo de búsqueda -->
  <input type="text" placeholder="Buscar usuario..." [(ngModel)]="filtro" (input)="filtrarUsuarios()" />
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Correo electronico</th>
        <th>Cumpleaños</th>
        <th>Años de edad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <!-- Mostrar usuarios filtrados -->
      <tr *ngFor="let usuario of usuariosFiltrados">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.birthdate | date }}</td>
        <td>{{ usuario.age }}</td>
        <td>
          <button (click)="eliminarUsuario(usuario.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
