/* Estilos b치sicos para toda la p치gina */
body {
  background-color: #d0f0fd; /* Fondo celeste claro */
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

nav {
  background-color: #bce0fa; /* Celeste claro m치s oscuro */
  border-bottom: 1px solid #e5e5e5;
}

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centramos los elementos del nav */
  }

    nav ul li {
      margin: 0;
      padding: 0;
    }

      nav ul li a {
        display: block;
        padding: 14px 20px;
        text-decoration: none;
        color: #007bff;
        border-right: 1px solid #e5e5e5;
        transition: background-color 0.3s ease;
      }

        nav ul li a:hover {
          background-color: #a8d8f0; /* Un tono m치s oscuro de celeste claro */
        }

      nav ul li:last-child a {
        border-right: none;
      }
