/* Estilos básicos para el formulario de login */
body {
  background-color: #032B44; /* Azul marino */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  .login-container form {
    display: flex;
    flex-direction: column;
  }

  .login-container div {
    margin-bottom: 20px;
  }

  .login-container label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #666;
  }

  .login-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-container button {
    padding: 12px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

    .login-container button:hover {
      background-color: #45a049;
    }

/* Estilos para los enlaces de registro y recuperación de contraseña */
.login-links {
  text-align: center;
  margin-top: 20px;
}

  .login-links a {
    color: #337ab7;
    text-decoration: none;
  }

    .login-links a:hover {
      color: #23527c;
    }
