
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: transparent; 
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .login-container input[type="text"],
  .login-container input[type="password"],
  .login-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .login-container button[type="submit"] {
    background-color: #0074d9; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

    .login-container button[type="submit"]:hover {
      background-color: #0056b3; 
    }

.login-links {
  text-align: center; 
  margin-top: 10px;
}

  .login-links a {
    color: #0074d9; 
    text-decoration: none;
    margin: 0 10px;
  }

    .login-links a:hover {
      text-decoration: underline;
    }

