<div class="register-container">
  <h2>Create an Account</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="usuario.username" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="usuario.password" required>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <a routerLink="/login" class="btn btn-link">Already have an account? Login</a>
</div>
